body{
    margin : 0;
}

header nav .navbar-menu{
    background: #D20E8C;
}

header nav .navbar-item, .navbar-link {
    color: black ;
}
header nav .navbar-brand{
    background: #D20E8C;
}

.not-display{
    display: none;
}

/*
    Home
*/
.table-rank td, .table-rank th {
    text-align: center !important;
}

.table-rank img {
    width: 20px;
    height: 20px;
}

#side-home{
    color : black;
}

#side-home hr{
    background-color: rgb(55, 55, 55);
}

.first-rank{
    background: gold;
}

.second-rank{
    background: silver;
}

.third-rank{
    background: peru;
}

/* 
    VOD
*/

/* TODO Version 4K et mobile à revoir
*/
.video-con iframe{
    min-height: 238px;
}

.one-tn-vods{
    margin : 40px 0 ; 
    padding: 10px;
}

.all-tn-vods{
    padding: 0 !important;
}


.tn-card-body h2{
    text-align: center;
}




/*
* Player List
*/

.player-list-card p{
    border: black 1px solid;
    border-radius: 15px;
    background: #b6b4b4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3fada8, #b6b4b4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3fada8, #b6b4b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 25px;
    padding: 0 15px;
}

.not_eligible > a > p{
    background: darkred;
}

.player-list-card img {
    width: 20px;
    float: right;
    margin-top: 2px;
}



.player-list-card a, 
.player-list-card a:visited,
.player-list-card a:hover {
    color: white;
}