body{
    margin : 0;
}

header nav .navbar-menu{
    background: #D20E8C;
}

header nav .navbar-item, .navbar-link {
    color: black ;
}
header nav .navbar-brand{
    background: #D20E8C;
}

.not-display{
    display: none;
}

/*
    Home
*/
.table-rank td, .table-rank th {
    text-align: center !important;
}

.table-rank img {
    width: 20px;
    height: 20px;
}

#side-home{
    color : black;
}

#side-home hr{
    background-color: rgb(55, 55, 55);
}

.first-rank{
    background: gold;
}

.second-rank{
    background: silver;
}

.third-rank{
    background: peru;
}

/* 
    VOD
*/

/* TODO Version 4K et mobile à revoir
*/
.video-con iframe{
    min-height: 238px;
}

.one-tn-vods{
    margin : 40px 0 ; 
    padding: 10px;
}

.all-tn-vods{
    padding: 0 !important;
}


.tn-card-body h2{
    text-align: center;
}