{% extends "base.html" %}
{% block title %}PR Dijonnais - Players List{% endblock %}
{% block content %}
<section class="section">
    <h1 class="title is-2">Liste des joueurs</h1>

    <h2 class="title is-3">{{ last_saison.prefix }} {{ last_saison.title }} {{ last_saison.number }}</h2>
    <p class="content">
        Liste des joueurs présents dans au moins un tournoi durant la saison en cours ! 
        Si le pseudo est rouge, c'est que le joueur n'est pas éligible au Power Ranking, il lui faudra faire plus de tournois
    </p>
    <article class="message is-warning">
        <div class="message-body">L'affichage du rank et du ELO sont temporaire </div>
    </article>
    <div class="columns is-multiline">
    {% for elo_player in elo_last_saison %}
    <div class="column is-2 player-list-card {% if elo_player.nb_tournament < eligible or elo_player.is_away %} not_eligible {% endif %}">
            <a href="{% url 'playerinfo' player_name=elo_player.competitor.name %}">
                <p>
                    {{ forloop.counter0|add:1 }}. {{ elo_player.competitor.name }} - {{ elo_player.elo }}
                    {% if elo_player.third_char %}
                        <img src="/static/img/stockimg/chara_2_{{ elo_player.third_char.icon_static }}_0{{ elo_player.third_char_skin}}.png"
                            alt="{{ elo_player.third_char.name_en }}">
                    {% endif %}
                        
                    {% if elo_player.second_char %}
                        <img src="/static/img/stockimg/chara_2_{{ elo_player.second_char.icon_static }}_0{{ elo_player.second_char_skin}}.png"
                            alt="{{ elo_player.second_char.name_en }}">
                    {% endif %}
                        
                    {% if elo_player.main_char %}
                        <img src="/static/img/stockimg/chara_2_{{ elo_player.main_char.icon_static }}_0{{ elo_player.main_char_skin}}.png"
                            alt="{{ elo_player.main_char.name_en }}">
                    {% endif %}
                </p>
            </a>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}