{% extends "base.html" %}
{% block title %}PR Dijonnais - Players List{% endblock %}
{% block content %}
<section class="section">
        <h1 class="title is-2">Page de {{ player_name }}</h1>
        <p class="content"> <a href="{% url 'playerlist' %}">Retour à la liste</a></p>
        <h2 class="title is-3"> Saison en cours</h2>
        <div class="columns">
            <section class="section column is-3">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Statistiques</p>
                    </div>
                    <div class="message-body">
                        <p>ELO : {{ elo_player.elo }}</p>
                        <p>Matchs joués : {{ elo_player.nb_match_win|add:elo_player.nb_match_lose }}</p>
                        <p>Matchs gagnés : {{ elo_player.nb_match_win }}</p>
                        <p>Matchs perdus : {{ elo_player.nb_match_lose }}</p>
                        <p>Nombre de participation : {{ elo_player.nb_tournament }}</p>
                        <p>
                            Eligible au PR <span title="Il faut avoir participé à {{ eligible }} tournois pour être éligible"><i class="fa fa-question-circle"></i></span> : 
                            {% if elo_player.nb_tournament < eligible %} <span class="red">Non</span> 
                            {% else %} <span class="green">Oui</span> 
                            {% endif %}
                        </p>
                    </div>
                </article>
            </section>
            <section class="section column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Historique</p>
                    </div>
                    <div class="message-body">
                    <table id="table-tournament-pl" class="table is-fullwidth">
                            <thead>
                                <th>Tournoi</th>
                                <th>Winner</th>
                                <th>Looser</th>
                                <th>Score</th>
                                <th>Mise à jour</th>
                            </thead>
                            <tbody>
                            {% for match in matches %}
                            <tr>
                                <td>{{ match.tournament.name }}</td>
                                <td><b>{{ match.winner.competitor.name }}</b> (+{{ match.elo_win }})</td>
                                <td><b>{{ match.looser.competitor.name }}</b> ({{ match.elo_lose }}) </td>
                                {% if 'DQ' in match.score %}
                                <td>DQ</td>
                                {% else %}
                                <td>{{ match.score.1 }} - {{ match.score.4 }}</td>
                                {% endif %}
                                <td>
                                    {% if match.winner.competitor == competitor %}
                                        <span class=""> <span class="green"><b>+{{ match.elo_win }}</b></span> => {{ match.winner_elo_value_before|add:match.elo_win }}</span>
                                    {% else %}
                                        <span class=""> <span class="red"><b>{{ match.elo_lose }}</b></span> => {{ match.looser_elo_value_before|add:match.elo_lose }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </article>
            </section>
            <section class="section column is-3">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Personnages</p>
                    </div>
                    <div class="message-body">
                        {% if elo_player.main_char %}
                            <img src="/static/img/stockimg/chara_2_{{ elo_player.main_char.icon_static }}_00.png"
                                alt="{{ elo_player.main_char.name_en }}">
                        {% endif %}
                        
                        {% if elo_player.second_char %}
                            <img src="/static/img/stockimg/chara_2_{{ elo_player.second_char.icon_static }}_00.png"
                            alt="{{ elo_player.second_char.name_en }}">
                        {% endif %}
                        {% if elo_player.third_char %}
                            <img src="/static/img/stockimg/chara_2_{{ elo_player.third_char.icon_static }}_00.png"
                            alt="{{ elo_player.third_char.name_en }}">
                        {% endif %}
                        
                    </div>
                    </article>
            </section>

        </div>
        

        
</section>
{% endblock %}