{% extends "base.html" %}
{% block title %}PR Dijonnais - Liste des tournois{% endblock %}
{% block content %}
<section class="section">
    <h1 class="title is-2">Stages Select</h1>
    <h2 class="title is-3">AT Gaming at Night</h2>
    <h3 class="title is-4">Règle</h3>
        <p class="content">
            Premier stage ban : 1 - 2 - Le gagnant choisis une map (Uniquement la partie Pick)<br>
            Autres stages : Le gagnant ban 2 maps dans tout le pool
        </p>
    <h3 class="title is-4">Pick</h3>
        <div class="columns">
            <div class="column">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Champs de Bataille
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/battlefield.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Destination Finale
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/final-destination.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Smash Ville
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/smashville.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Ville & Centre-ville
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/town-and-city.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Pokemon Stadium 2 
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/pokemon-stadium-2.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
        </div>
    <h3 class="title is-4">Counter Pick</h3>
        <div class="columns">
            <div class="column is-one-fifth">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Traversée de Lylat
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/lylat-cruise.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Ligue Pokémon de Kalos
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/kalos-pokemon-league.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Yoshi's Island
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/yoshis-island-brawl.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
        </div>

    
    <h2 class="title is-3">Monthly Smash Glitch</h2>
    <p>Coming soon</p>
</section>
{% endblock %}