{% extends "base.html" %}
{% block title %}PR Dijonnais - Liste des tournois{% endblock %}
{% block content %}
<section class="section">
    <h1 class="title is-2">Stages Select</h1>
    <p class="content">Vous pouvez cliquer sur les stages pour les ban/unban</p>
    <h2 class="title is-3">AT Gaming at Night</h2>
    <h3 class="title is-4">Règle</h3>
        <p class="content">
            Bannisement des stages : <br>
            <br>
            <b>Premier match</b><br>
            Pierre-Feuille-Ciseaux, le gagnant bannit 3 stages <br>
            Le perdant annonce les 2 stages restants <br>
            Le gagnant choisit le stage joué <br>
            Choix des personnages en double-aveugle <br>
            <br>
            <b>Second match/Troisième/...</b> <br>
            Le gagnant bannit 3 stages parmis la liste complète <br>
            Le perdant choisis le stage parmis les restant
            Le gagnant choisis son personnage en premier
        </p>
    <h3 class="title is-4">Starter</h3>
    <p class="content" id="show-stage-button">
        <label  class="checkbox" >Afficher les images des Stages
            <input type="checkbox" id="show-stage-check" checked>
        </label>
    </p>
        <div class="columns is-mobile is-multiline">
            <div class="column is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Champ de Bataille
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/battlefield.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Destination Finale
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/final-destination.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Smash Ville
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/smashville.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Ville & Centre-ville
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/town-and-city.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Pokemon Stadium 2 
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/pokemon-stadium-2.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
        </div>
    <!-- <h3 class="title is-4">Counter Pick</h3> -->
        <div class="columns is-mobile is-multiline">
            <div class="column is-one-fifth-desktop is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Small Battlefield
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/small-battlefield.jpg"
                    alt="small-battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Hollow Bastion
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="https://www.ssbwiki.com/Hollow_Bastion#/media/File:SSBU-Hollow_Bastion.jpg"
                    alt="Hollow Bastion">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Northern Cavern
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="https://www.ssbwiki.com/Northern_Cave#/media/File:SSBU_Northern_Cave.png"
                    alt="Northern Cavern">
                    </figure>
                    </div>
                    
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-half-mobile">
                <div class="card stage-card">
                    <p class="card-header-title is-centered">
                        Yoshi's Story
                    </p>
                    <div class="card-image">
                    <figure class="image is-5by3">
                        <img src="/static/img/stages/yoshis-story.jpg"
                    alt="battlefield">
                    </figure>
                    </div>
                    
                </div>
            </div>
            
        </div>

    
    <!-- <h2 class="title is-3">Monthly Smash Glitch</h2>
    <p>Coming soon</p> -->
</section>
{% endblock %}