{% extends "base.html" %}
{% block title %}Site du Power Ranking Dijonnais{% endblock %}
{% block content %}
<section class="section">
    <h1 class="title is-2">
        VOD des matchs
    </h1>
    <article class="message is-info">
            <div class="message-body">
                La page est en cours d'amélioration
            </div>
    </article>
    <p>Pour trouver directement le tournoi voulu, faites Ctrl + F, puis tapez le nom du tournoi recherché</p>
    <section class="section all-tn-vods">
    {% for tn in tn_with_vods %}
        <div class="one-tn-vods">
            <h2 class="title is-3"><a href="./vod/{{ tn.slug }}">{{ tn.name }}</a></h2>
        </div>    
    {% endfor %}
    </section>
</section>
{% endblock %}

