{% extends "base.html" %}
{% block title %}Site du Power Ranking Dijonnais{% endblock %}
{% block content %}
<section class="section">
    {% if error %} 
    <h1 class="title is-2">
        Erreur sur {{ tn_name_slug }}
    </h1> 
    <article class="message is-danger">
        <div class="message-body">{{ error }}</div>
    </article>
    <a href="../vod">Retour à la liste des tournois</a>
    {% else %}
    <h1 class="title is-2">
            {{ tournament.name }}
    </h1>
    <h2 class="title is-3">Vidéos</h2>
    <section class="section all-tn-vods">
        <div class="one-tn-vods">
            <div class="columns is-multiline">
                {% for vod in vods %}
                    <div class="column is-3 video-card">
                        <h3 class="title is-6"><a href="{{ vod.video_url }}">{{ vod.title }}</a></h3>
                        <div class="video-con">
                            <iframe width="560" height="238" src="https://www.youtube.com/embed/{{ vod.id_watch_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>    
    </section>
    {% endif %}
</section>
{% endblock %}
