<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}{% endblock %}</title>
   {% load static %}
   <link rel="stylesheet" href="{% static '/css/main.css' %}">
   {% block addcss %}{% endblock %}
   <link rel="icon" type="image/png" href="{% static '/img/ladder.png' %}" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Site de la communauté Smash de Dijon. Toutes les informations sur les tournois et le classement des joueur"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<header>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img alt="Logo Smash Bros" src="https://upload.wikimedia.org/wikipedia/commons/9/96/Super_Smash_Bros._Ultimate_logo.svg" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'home' %}">
          Accueil
        </a>
        <a class="navbar-item" href="{% url 'vod' %}">
          VODs
        </a>
        <!-- <a class="navbar-item" href="{% url 'tnlist' %}">
          Tournois
        </a> -->
        <a class="navbar-item" href="{% url 'playerlist' %}">
          Joueurs
        </a>
        <a class="navbar-item" href="{% url 'stage_select' %}">
          Stages
        </a>
        <!-- <a class="navbar-item" href="{% url 'perso_select' %}">
          Personnages
        </a> -->
        <a class="navbar-item" href="{% url 'about' %}">
            A propos
        </a>
      </div>
  
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <div class="navbar-item">
            <p class='navbar-item'> Bienvenue {{ user.username }}</p>
        </div>
        <div class="navbar-item">
          <div class="buttons">
              <a href="{% url 'profile' %}" class="button is-light">Profil</a>
          </div>
        </div>
        <div class="navbar-item">
            <div class="buttons">
                <a href="{% url 'logout' %}" class="button is-light">Logout</a>
            </div>
        </div>
                    {% if user.is_staff %}
            
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Manage</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'admin:index' %}">Admin</a>
                            <a class="navbar-item" href="{% url 'elomerge' %}">Fusionner Elo</a>
                            <a class="navbar-item" href="{% url 'tnmanage' %}">Tournois</a>
                            <a class="navbar-item" href="{% url 'saisonscale' %}">Scale</a>
                            <a class="navbar-item" href="{% url 'vodsmanage' %}">VODs</a>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
        <div class="navbar-item">
                <div class="buttons">
                <a  href="{% url 'login' %}" class="button is-light">Login</a>
            </div>
        </div>
                {% endif %}
            
            
        </div>
      </div>
    </div>
  </nav>
</header>
       {% block content %}{% endblock %}
   <footer class="footer">
        <div class="content has-text-centered">
          <p>
            Fait par Lomens pour la commu smash dijonnaise
          </p>
        </div>
      </footer>
    <script src="{% static '/js/main.js' %}"></script>
    {% block addscript %}{% endblock %}
</body>
</html>